.btn-green {
	transition: all 0.2s;
	display: inline-block;
	background: #30a657;
	padding: 14/14 + em 40/14 + em;
	border: 1px solid transparent;
	border-radius: 2px;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	color: #fff;

	&:hover {
		background: lighten(#30a657, 5%);
	}
}
