.form-search {
	display: flex;
	box-shadow: 0px 1px 4px rgba(148, 148, 148, 0.25);
	border-radius: 2px;

	&__input {
		flex-grow: 1;
		padding: 14px 15px;
		border-radius: 2px 0 0 2px;
		font-size: 14px;
		font-weight: 300;
		color: inherit;

		&::placeholder {
			color: #bcbcbc;
		}
	}

	&__button {
		flex: 0 0 auto;
		width: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 2px;
		background: #30a657;
		font-size: 18px;
		color: #fff;

		&:hover {
			background: lighten(#30a657, 5%);
		}
	}
}
