.input-default {
	width: 100%;
	padding: 13/14 + em 20/14 + em;
	border: 1px solid #ededed;
	border-radius: 2px;
	font-size: 14px;
}

@media (min-width: 1050px) {
	.input-default {
		font-size: 16px;
	}
}
