.nav-props {
	margin-bottom: 15px;
	display: flex;
	flex-wrap: wrap;

	&__item {
		margin: 0 35px 10px 0;
		border-bottom: 1px solid #158acc;
		color: #158acc;
	}
}

@media (max-width: 1049.99px) {
	.nav-props {
		display: none;
	}
}
