.page-product {
	min-width: 320px;
	font-family: "Muller", sans-serif;
	font-size: 14px;
	color: #001a34;

	&__section {
	}

	&__h2 {
	}
}

@media (min-width: 1200px) {
	.page-product {
		&__about {
			display: flex;

			&__col-gallery {
				flex: 0 0 auto;
				width: 33.33%;
			}

			&__col-desc {
				flex: 0 0 auto;
				width: 33.33%;
			}

			&__col-card {
				flex: 0 0 auto;
				width: 33.33%;
			}
		}
	}
}
