.product-settings {
	&__item {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: 500;
	}

	&__count {
		margin-left: 20px;
		width: 85/14 + em;

		.input-default {
			text-align: center;
		}
	}
}

@media (min-width: 1050px) {
	.product-settings {
		&__item {
			margin-bottom: 20px;
		}

		&__title {
			margin-bottom: 15px;
			font-size: 18px;
		}
	}
}
