---
title: Главная
layout: default.hbs
---

<header class="header"></header>

<footer class="footer">
    <div class="footer__main">
        <div class="layout__center">
            <div class="footer__main__center">
                
                <div class="footer__main__col-btns">
                    <nav class="footer__btns">
                        <div><a href="#" class="btn-green">О компании</a></div>
                        <div><a href="#" class="btn-green">Доставка</a></div>
                        <div><a href="#" class="btn-green">Для оптовиков</a></div>
                        <div><a href="#" class="btn-green">Для оптовиков</a></div>
                    </nav>
                </div>

                <div class="footer__main__col-menu">
                    <nav class="footer__menu">
                        <div class="footer__menu__header">
                            <a href="#" class="footer__menu__title">Каталог магазина</a>
                        </div>
                        <div class="footer__menu__crop">
                            <div class="footer__menu__list">
                                <div><a href="#">Вода</a></div>
                                <div><a href="#">Лимонады и напитки</a></div>
                                <div><a href="#">Снеки и сладости</a></div>
                                <div><a href="#">Вода 19 л</a></div>
                                <div><a href="#">Вода 5 л</a></div>
                                <div><a href="#">Детская вода</a></div>
                                <div><a href="#">Бренды</a></div>
                                <div><a href="#">Оплата</a></div>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="footer__main__col-menu">
                    <nav class="footer__menu">
                        <div class="footer__menu__header">
                            <a href="#" class="footer__menu__title">Для покупателя</a>
                        </div>
                        <div class="footer__menu__crop">
                            <div class="footer__menu__list">
                                <div><a href="#">Возврат товаров</a></div>
                                <div><a href="#">Новости</a></div>
                                <div><a href="#">Карьера</a></div>
                                <div><a href="#">Блог</a></div>
                                <div><a href="#">Контакты</a></div>
                                <div><a href="#">Вопрос-ответ</a></div>
                                <div><a href="#">Партнерская программа</a></div>
                                <div><a href="#">Карта сайта</a></div>
                            </div>
                        </div>
                    </nav>
                </div>
                
                <div class="footer__main__col-touch">
                    
                    <nav class="footer__social">
                        <div class="footer__social__title">Мы в социальных сетях</div>
                        <div class="footer__social__icons">
                            <a href="#" class="footer__social__item footer__social__item--vk">
                                <i class="icon-vk"></i>
                            </a>
                            <a href="#" class="footer__social__item footer__social__item--instagram">
                                <i class="icon-instagram"></i>
                            </a>
                            <a href="#" class="footer__social__item footer__social__item--facebook">
                                <i class="icon-facebook"></i>
                            </a>
                        </div>
                    </nav>

                    <div class="footer__touch">
                        <div class="footer__touch__group">
                            <div class="footer__touch__item">
                                <i class="icon-phone"></i>
                                <span>8 (800) 700-45-39</span>
                            </div>
                            <div class="footer__touch__item">
                                <i class="icon-email"></i>
                                <span>ZAKAZ@CHERNOGOLOVSKAYA.RU</span>
                            </div>
                        </div>
                        <div class="footer__touch__group">
                            <div class="footer__touch__title">Замечаения по качеству продукции:</div>
                            <div class="footer__touch__item">
                                <i class="icon-email"></i>
                                <span>QUALITY@AQUALIFE.RU</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="footer__info">
        <div class="layout__center">
            <div class="footer__info__center">
                <div class="footer__copyright">© 2021. При копировании материалов активная гиперссылка на сайт обязательна.</div>
                <div class="footer__address">МО 142432 г. Черноголовка, ул. Соединительная, д.2а</div>
                <div class="footer__subscribe">
                    <a href="#" class="btn-green">Подписаться</a>
                </div>
            </div>
        </div>
    </div>
</footer>