/*! destyle.css v1.0.14 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
* {
  box-sizing: border-box; }

::before,
::after {
  box-sizing: inherit; }

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/ }

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0; }

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0; }

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

address {
  font-style: inherit; }

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content */
/* ============================================ */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom; }

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom; }

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit; }

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox; }

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none; }

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none; }

/**
 * Remove padding
 */
option {
  padding: 0; }

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer; }

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none; }

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  text-align: left; }

td,
th {
  vertical-align: top;
  padding: 0; }

th {
  text-align: left;
  font-weight: bold; }

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.fade {
  transition: opacity 0.15s linear; }
  @media (prefers-reduced-motion: reduce) {
    .fade {
      transition: none; } }
  .fade:not(.show) {
    opacity: 0; }

.collapse:not(.show) {
  display: none; }

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease; }
  @media (prefers-reduced-motion: reduce) {
    .collapsing {
      transition: none; } }
  .collapsing.collapse-horizontal {
    width: 0;
    height: auto;
    transition: width 0.35s ease; }
    @media (prefers-reduced-motion: reduce) {
      .collapsing.collapse-horizontal {
        transition: none; } }

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start; }

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit; }

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0; }

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch; }

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none; }

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0; }

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table; }

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none; }

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0; }

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1; }

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden; }

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all; }

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px; }

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear; }

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear; }

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px; }

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px; }

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto; }

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0; }

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll; }

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@font-face {
  font-family: "Muller";
  src: local("Muller Regular"), local("Muller-Regular"), url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Muller";
  src: local("Muller Medium"), local("Muller-Medium"), url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Muller";
  src: local("Muller Bold"), local("Muller-Bold"), url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Muller";
  src: local("Muller Light"), local("Muller-Light"), url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff"), url("../fonts/MullerLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?l45p2z");
  src: url("../fonts/icomoon.eot?l45p2z#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?l45p2z") format("truetype"), url("../fonts/icomoon.woff?l45p2z") format("woff"), url("../fonts/icomoon.svg?l45p2z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-heart-o:before {
  content: "\e900"; }

.icon-instagram:before {
  content: "\e901"; }

.icon-close:before {
  content: "\e902"; }

.icon-arrow-right:before {
  content: "\e903"; }

.icon-basket:before {
  content: "\e904"; }

.icon-car:before {
  content: "\e905"; }

.icon-card:before {
  content: "\e906"; }

.icon-cash:before {
  content: "\e907"; }

.icon-email:before {
  content: "\e908"; }

.icon-facebook:before {
  content: "\e909"; }

.icon-heart:before {
  content: "\e90a"; }

.icon-location:before {
  content: "\e90b"; }

.icon-menu-dots:before {
  content: "\e90c"; }

.icon-people:before {
  content: "\e90d"; }

.icon-person:before {
  content: "\e90e"; }

.icon-phone:before {
  content: "\e90f"; }

.icon-search:before {
  content: "\e910"; }

.icon-vk:before {
  content: "\e911"; }

.btn-green {
  transition: all 0.2s;
  display: inline-block;
  background: #30a657;
  padding: 0.9em 2.85714em;
  border: 1px solid transparent;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #fff; }
  .btn-green:hover {
    background: #36ba61; }

.layout__center {
  padding: 0 15px; }

@media (min-width: 1050px) {
  .layout__center {
    padding: 0 30px;
    max-width: 1340px;
    margin: 0 auto; } }

.footer {
  position: relative; }
  .footer:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(84.03deg, #57844d 28.74%, #bdce27 89.86%);
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  .footer__main {
    position: relative;
    padding: 30px 0; }
    .footer__main__col-menu {
      margin-top: 25px; }
  .footer__btns {
    display: flex;
    flex-wrap: wrap;
    margin: -5px; }
    .footer__btns > div {
      flex: 0 0 auto;
      width: 50%;
      padding: 5px; }
      .footer__btns > div:nth-child(odd) {
        text-align: right; }
      .footer__btns > div a {
        width: 100%;
        max-width: 200px;
        padding-right: 1em;
        padding-left: 1em;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25); }
  .footer__menu__header {
    display: flex;
    justify-content: center; }
  .footer__menu__title {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff; }
    .footer__menu__title i {
      margin-left: 10px;
      margin-top: -0.5em;
      font-size: 0.625em; }
  .footer__menu__list {
    padding-top: 10px;
    text-align: center; }
    .footer__menu__list a {
      display: inline-block;
      padding: 0.5em 0;
      color: #fff; }
  .footer__social {
    margin-top: 25px; }
    .footer__social__title {
      text-transform: uppercase;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: #fff; }
    .footer__social__icons {
      display: flex;
      justify-content: center;
      margin: 25px -7px 0 -7px; }
    .footer__social__item {
      transition: all 0.2s;
      margin: 0 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 19px;
      width: 1.89474em;
      height: 1.89474em;
      border-radius: 50%;
      color: #fff; }
      .footer__social__item--vk {
        background: #4d76a1; }
        .footer__social__item--vk:hover {
          background: #5883af; }
      .footer__social__item--instagram {
        background: #ff3a55; }
        .footer__social__item--instagram:hover {
          background: #ff546b; }
      .footer__social__item--facebook {
        background: #475993; }
        .footer__social__item--facebook:hover {
          background: #4f63a4; }
  .footer__touch {
    text-align: center;
    color: #fff; }
    .footer__touch__group {
      margin-top: 25px; }
      .footer__touch__group:first-child {
        margin-top: 0; }
    .footer__touch__title {
      font-weight: 300; }
    .footer__touch__item {
      margin-top: 20px;
      font-weight: 500;
      text-transform: uppercase; }
      .footer__touch__item i {
        vertical-align: middle;
        margin-right: 0.3em; }
      .footer__touch__item span {
        vertical-align: middle; }
  .footer__info {
    position: relative;
    padding: 20px 0;
    background: #e5e5e5;
    text-align: center; }
  .footer__copyright {
    font-weight: 300; }
  .footer__address {
    margin-top: 15px;
    font-weight: 300; }
  .footer__subscribe {
    margin-top: 20px; }

@media (min-width: 1050px) {
  .footer__main {
    padding: 40px 0; }
    .footer__main__center {
      display: flex;
      justify-content: space-between; }
    .footer__main__col-btns {
      flex: 0 0 auto;
      align-self: center; }
    .footer__main__col-menu {
      flex: 0 0 auto;
      margin-top: 0; }
    .footer__main__col-touch {
      flex: 0 0 auto; }
  .footer__btns {
    display: block;
    margin: 0; }
    .footer__btns > div {
      padding: 7px 0;
      width: auto; }
      .footer__btns > div a {
        width: 180px; }
  .footer__menu {
    font-size: 16px; }
    .footer__menu__header {
      display: block; }
    .footer__menu__title {
      font-size: 18px; }
      .footer__menu__title i {
        display: none; }
    .footer__menu__crop {
      display: block !important;
      height: auto !important; }
    .footer__menu__list {
      text-align: left; }
  .footer__social {
    margin-top: 0; }
    .footer__social__title {
      text-align: left;
      font-size: 18px; }
    .footer__social__icons {
      justify-content: left;
      margin-top: 20px; }
  .footer__touch {
    text-align: left;
    font-size: 16px; }
    .footer__touch__group {
      margin-top: 30px !important; }
  .footer__info__center {
    display: flex;
    align-items: center;
    text-align: left; }
  .footer__copyright {
    padding-right: 30px; }
  .footer__address {
    padding-right: 30px;
    margin-top: 0; }
  .footer__subscribe {
    margin-top: 0; } }

.slider-gallery {
  position: relative;
  flex-grow: 1;
  font-size: 0; }
  .slider-gallery__item {
    position: relative;
    display: none; }
    .slider-gallery__item * {
      cursor: pointer; }
    .slider-gallery__item:first-child {
      display: block; }
  .slider-gallery__slide {
    background: #fff 50% 50% no-repeat;
    background-size: contain;
    border-radius: 5px; }
    .slider-gallery__slide:before {
      content: "";
      display: block;
      padding-top: 100%; }
  .slider-gallery__video {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    width: 100%; }
    .slider-gallery__video:before {
      content: " ";
      display: block;
      padding-top: 56.25%; }
    .slider-gallery__video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .slider-gallery__zoom {
    display: none; }
  .slider-gallery__nav {
    display: none; }

@media (min-width: 1220px) {
  .slider-gallery__list {
    margin-left: 84px; }
  .slider-gallery__item.hover .slider-gallery__zoom {
    opacity: 1; }
  .slider-gallery__zoom {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-repeat: no-repeat; }
  .slider-gallery__nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 72px;
    overflow: hidden; }
    .slider-gallery__nav__window {
      height: 100%; }
    .slider-gallery__nav__item {
      transition: all 0.2s;
      position: relative;
      margin-top: 12px;
      border: 1px solid #f2f3f5;
      background: #fff 50% 50% no-repeat;
      background-size: cover;
      border-radius: 4px;
      cursor: pointer;
      opacity: 0.7; }
      .slider-gallery__nav__item--video {
        border-color: transparent; }
        .slider-gallery__nav__item--video:after {
          content: " ";
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          width: 36px;
          height: 36px;
          background: url(../images/play.svg) no-repeat 50% 50%;
          background-size: cover; }
      .slider-gallery__nav__item:first-child {
        margin-top: 0; }
      .slider-gallery__nav__item:hover {
        opacity: 1; }
      .slider-gallery__nav__item.active {
        border-color: #21a73f;
        opacity: 1; }
      .slider-gallery__nav__item:before {
        content: "";
        display: block;
        padding-top: 100%; }
  .slider-gallery .simplebar-track.simplebar-vertical {
    display: none; }
  .slider-gallery .slick-dots {
    display: none !important; } }

.popup-gallery {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 600;
  background: #fff; }
  .popup-gallery.active {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .popup-gallery__header {
    position: relative;
    z-index: 10;
    padding-left: 30px;
    padding-right: 100px;
    height: 90px;
    display: flex;
    align-items: center; }
  .popup-gallery__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 700;
    color: #21a73f; }
  .popup-gallery__close {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 1.5em;
    font-size: 14px;
    line-height: 0; }
  .popup-gallery__content {
    border-top: 1px solid #f2f3f5;
    border-width: 1px 0; }
  .popup-gallery__list {
    font-size: 0; }
  .popup-gallery__item {
    display: none; }
    .popup-gallery__item.active, .popup-gallery__item:first-child {
      display: block; }
  .popup-gallery__slide {
    height: calc(100vh - 90px - 100px);
    background: #fff no-repeat 50% 50%;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center; }
  .popup-gallery__video {
    position: relative;
    width: 100%;
    height: 100%; }
    .popup-gallery__video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .popup-gallery__footer {
    position: relative;
    padding-bottom: 10px;
    border-top: 1px solid #f2f3f5;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center; }
  .popup-gallery__nav {
    flex-grow: 1;
    text-align: right;
    white-space: nowrap;
    font-size: 0; }
    .popup-gallery__nav__window {
      padding: 10px 0; }
    .popup-gallery__nav__item {
      transition: all 0.2s;
      position: relative;
      display: inline-block;
      margin-left: 5px;
      width: 70px;
      border: 1px solid #f2f3f5;
      background: 50% 50% no-repeat;
      background-size: cover;
      border-radius: 5px;
      cursor: pointer;
      opacity: 0.7; }
      .popup-gallery__nav__item--video {
        border-color: transparent; }
        .popup-gallery__nav__item--video:after {
          content: " ";
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          width: 36px;
          height: 36px;
          background: url(../images/play.svg) no-repeat 50% 50%;
          background-size: cover; }
      .popup-gallery__nav__item:first-child {
        margin-left: 10px; }
      .popup-gallery__nav__item:last-child {
        margin-right: 10px; }
      .popup-gallery__nav__item:hover {
        opacity: 1; }
      .popup-gallery__nav__item.active {
        border-color: #21a73f;
        opacity: 1; }
      .popup-gallery__nav__item:before {
        content: "";
        display: block;
        padding-top: 100%; }
  .popup-gallery .simplebar-horizontal {
    margin: 0 10px; }

@media (max-width: 767.98px) {
  .popup-gallery__header {
    height: auto; }
  .popup-gallery__title {
    display: none; }
  .popup-gallery__close {
    top: 0;
    right: 0;
    -webkit-transform: none;
            transform: none; }
  .popup-gallery__content {
    border: 0; }
  .popup-gallery__slide {
    height: calc(100vh - 100px); }
  .popup-gallery__footer {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0; }
  .popup-gallery__nav__item {
    width: 60px; } }

.table-props {
  width: 100%;
  max-width: 950px; }
  .table-props tr:nth-child(odd) {
    background: #f8faff; }
  .table-props td {
    width: 50%;
    padding: 0.71429em; }

@media (min-width: 1050px) {
  .table-props {
    font-size: 16px; } }

.nav-tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px; }
  .nav-tabs__item {
    transition: all 0.2s;
    margin-top: 5px;
    flex: 0 0 auto;
    width: 100%;
    padding: 0.9em;
    text-align: center;
    border: 1px solid #ededed;
    border-radius: 2px;
    font-weight: 500; }
    .nav-tabs__item:first-child {
      margin-top: 0; }
    .nav-tabs__item:hover, .nav-tabs__item.active {
      border-color: transparent;
      background: #30a657;
      color: #fff; }

@media (min-width: 500px) {
  .nav-tabs {
    margin-bottom: 0; }
    .nav-tabs__item {
      width: auto;
      padding-right: 2.85714em;
      padding-left: 2.85714em;
      margin: 0 15px 15px 0; } }

.tabs-panes {
  position: relative; }
  .tabs-panes__item {
    transition: all 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    padding-top: 1px;
    overflow: hidden; }
    .tabs-panes__item.active {
      position: static;
      visibility: visible;
      opacity: 1;
      height: auto;
      overflow: visible; }

.goods-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -30px -15px 0 -15px; }
  .goods-cards__col {
    flex: 0 0 auto;
    margin-top: 30px;
    padding: 0 15px;
    width: 25%; }
  .goods-cards__item {
    padding: 15px 0;
    border: 1px solid #ededed;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    height: 100%; }
  .goods-cards__image {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
    .goods-cards__image:before {
      content: "";
      padding-top: 75%;
      display: block; }
  .goods-cards__sep {
    border-top: 1px solid #ededed;
    margin: 15px 20px; }
  .goods-cards__desc {
    padding: 0 20px; }
  .goods-cards__title {
    margin-top: 15px;
    margin-bottom: auto;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500; }
    .goods-cards__title a {
      color: #001a34; }
  .goods-cards__price {
    text-align: center;
    font-size: 32px;
    font-weight: 500; }
  .goods-cards__control {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .goods-cards__btn-buy > * {
    font-size: 18px; }
  .goods-cards__btn-save {
    font-size: 33px;
    line-height: 0;
    color: #30a657; }
  .goods-cards__tip {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    color: #bcbcbc; }

@media (max-width: 1199.98px) {
  .goods-cards__btn-buy > * {
    padding-right: 2em;
    padding-left: 2em; } }

.page-product {
  min-width: 320px;
  font-family: "Muller", sans-serif;
  font-size: 14px;
  color: #001a34; }
  .page-product__more {
    display: none; }
  .page-product__tabs {
    margin: 25px 0; }
  .page-product__h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700; }
  .page-product__h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500; }

@media (min-width: 1050px) {
  .page-product__more {
    display: block; }
  .page-product__tabs {
    margin: 40px 0; }
  .page-product__h1 {
    margin-bottom: 30px;
    font-size: 36px; }
  .page-product__h2 {
    margin-bottom: 30px;
    font-size: 24px; } }

@media (min-width: 1200px) {
  .page-product__about__row {
    display: flex; }
  .page-product__about__col-gallery {
    flex: 0 0 auto;
    width: 33.33%; }
  .page-product__about__col-desc {
    flex: 0 0 auto;
    width: 33.33%; }
  .page-product__about__col-card {
    flex: 0 0 auto;
    width: 33.33%; } }

.notify {
  position: fixed;
  z-index: 700;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 300px;
  max-height: 100%;
  overflow: auto; }
  .notify__item {
    margin: 10px;
    padding: 15px;
    opacity: 0.8;
    border-radius: 5px;
    color: #fff; }
    .notify__item--success {
      background: #b7e968; }
    .notify__item--warning {
      background: #ffb922; }
    .notify__item--error {
      background: #ec4949; }

.is-flipped {
  -webkit-transform: scale(-1);
          transform: scale(-1); }

.rotate-90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
