@import "../../node_modules/destyle.css/destyle";
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/_mixins";
@import "../../node_modules/bootstrap/scss/_transitions";
@import "../../node_modules/simplebar/dist/simplebar";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/swiper/swiper-bundle.css";

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.is-flipped {
	display: inline-block;
	transform: scale(-1);
}

.link-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.invisible {
	visibility: hidden;
}

.rotate-90 {
	display: inline-block;
	transform: rotate(90deg);
}

img {
	max-width: 100%;
	height: auto;
}

@import "./components/fonts";
@import "./components/icomoon";
@import "./components/buttons";
@import "./components/inputs";
@import "./components/article";
@import "./components/layout";
@import "./components/header";
@import "./components/footer";
@import "./components/slider-gallery";
@import "./components/slider-select";
@import "./components/slider-dots-1";
@import "./components/popup-gallery";
@import "./components/table-props";
@import "./components/nav-tabs";
@import "./components/nav-props";
@import "./components/nav-top";
@import "./components/nav-bread";
@import "./components/nav-main";
@import "./components/nav-own";
@import "./components/form-search";
@import "./components/tabs-panes";
@import "./components/product-settings";
@import "./components/product-order";
@import "./components/goods-cards";
@import "./components/page-product";
@import "./components/notify";
